
.icon-cog:before { content: '\e800'; } /* '' */
.icon-spotify:before { content: '\e801'; } /* '' */
.icon-twitter-squared:before { content: '\e803'; } /* '' */
.icon-linkedin-squared:before { content: '\e804'; } /* '' */
.icon-github-circled:before { content: '\e805'; } /* '' */
.icon-bullhorn:before { content: '\e806'; } /* '' */
.icon-football:before { content: '\e807'; } /* '' */
.icon-laptop:before { content: '\e808'; } /* '' */
.icon-book:before { content: '\e809'; } /* '' */
.icon-briefcase:before { content: '\e80a'; } /* '' */
.icon-headphones:before { content: '\e80b'; } /* '' */