<footer class="footer text-center">
	<div class="container">
		<div>
			<a href="https://twitter.com/Rovolutionary" target="_blank">
				<i class="social-media-icon icon-twitter-squared"></i>
			</a>
			<a href="https://github.com/rovolution" target="_blank">
				<i class="social-media-icon icon-github-circled"></i>
			</a>
			<a href="https://www.linkedin.com/pub/rohit-kalkur/25/535/b58" target="_blank">
				<i class="social-media-icon icon-linkedin-squared"></i>
			</a>
			<a href="https://open.spotify.com/user/rovolution" target="_blank">
				<i class="social-media-icon icon-spotify"></i>
			</a>
		</div>
		<p class="copyright text-muted">&copy; Rohit Kalkur {{ site.time | date: '%Y' }}</p>
	</div>
</footer>